{
    "extends": [
      "stylelint-config-standard"
    ],
    "plugins": [
      "stylelint-scss",
      "stylelint-order"
    ],
    "ignoreFiles": ["**/*.js"],
    "rules": {
      "at-rule-no-unknown": null,
      "at-rule-name-newline-after": "always-multi-line",
      "at-rule-no-vendor-prefix": true,
      "at-rule-semicolon-newline-after": "always",
      "at-rule-semicolon-space-before": "never",
      "at-rule-empty-line-before": ["always", {
        "ignore": ["blockless-after-blockless", "inside-block"]
      }],
      "color-named": "never",
      "declaration-empty-line-before": "never",
      "font-family-name-quotes": "always-unless-keyword",
      "function-name-case": null,
      "max-nesting-depth": 4,
      "max-line-length": 100,
      "media-feature-name-no-vendor-prefix": true,
      "no-descending-specificity": null,
      "number-no-trailing-zeros": null,
      "selector-attribute-quotes": "always",
      "selector-max-universal": 1,
      "selector-no-vendor-prefix": true,
      "selector-list-comma-newline-before": "never-multi-line",
      "selector-list-comma-space-after": "always-single-line",
      "shorthand-property-no-redundant-values": true,
      "value-keyword-case": "lower",
      "value-no-vendor-prefix": true,
  
      "scss/at-rule-no-unknown": true,
      "scss/dollar-variable-colon-space-after": "always",
      "scss/dollar-variable-colon-space-before": "never",
  
      "order/properties-order": [
        "position",
        "top",
        "right",
        "bottom",
        "left",
        "z-index",
        "display",
        "visibility",
        "overflow",
        "overflow-x",
        "overflow-y",
        "float",
        "clear",
        "table-layout",
        "border-collapse",
        "empty-cells",
        "box-sizing",
        "width",
        "min-width",
        "max-width",
        "height",
        "min-height",
        "max-height",
        "margin",
        "margin-top",
        "margin-right",
        "margin-bottom",
        "margin-left",
        "padding",
        "padding-top",
        "padding-right",
        "padding-bottom",
        "padding-left",
        "font",
        "font-family",
        "font-size",
        "font-style",
        "font-variant",
        "font-weight",
        "letter-spacing",
        "line-height",
        "list-style",
        "list-style-type",
        "list-style-position",
        "list-style-image",
        "outline",
        "outline-width",
        "outline-style",
        "outline-color",
        "text-align",
        "text-decoration",
        "text-indent",
        "text-transform",
        "text-shadow",
        "border",
        "border-width",
        "border-style",
        "border-color",
        "border-radius",
        "border-top",
        "border-top-width",
        "border-top-style",
        "border-top-color",
        "border-right",
        "border-right-width",
        "border-right-style",
        "border-right-color",
        "border-bottom",
        "border-bottom-width",
        "border-bottom-style",
        "border-bottom-color",
        "border-left",
        "border-left-width",
        "border-left-style",
        "border-left-color",
        "border-top-left-radius",
        "border-top-right-radius",
        "border-bottom-right-radius",
        "border-bottom-left-radius",
        "white-space",
        "content",
        "color",
        "background",
        "background-color",
        "background-image",
        "background-repeat",
        "background-attachment",
        "background-position",
        "background-size",
        "fill",
        "stroke",
        "vertical-align",
        "opacity",
        "animation",
        "transform",
        "transition",
        "box-shadow",
        "flex",
        "flex-basis",
        "flex-direction",
        "flex-flow",
        "flex-grow",
        "flex-shrink",
        "flex-wrap",
        "align-content",
        "align-items",
        "justify-content",
        "order",
        "..."
      ]
    }
  }
  